:root{
    --secondary-color: #0479df;
    --Primary-color: #0e1246;
    --terciary-color: #F2F4F4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto';
}
main.container{
    display: grid;
    place-items: center;
    
}
div.div-container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 10vh;
}
header.header{
    display: flex;
    background-color: var(--Primary-color);
    color:white;
    width: 100vw;
    justify-content: center;
    padding: 1.5rem;
}
p.header-text{
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 300;
}
div.container-credit-details{
    display: flex;
    justify-content: center;
    background-color: var(--terciary-color);
    width: 100%;
}
div .credit-details{
    display: grid;
    place-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    width: 95%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.1);
    border-radius: .2rem;
}
h1.reffnumber{
    margin-top: 1.6rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.section-content{
    display: flex;
    margin: 1.5rem;
    margin-bottom: 0;
}
.monto{
    font-size: 2rem;
    font-weight: 300;
}
.signo{
    padding-top: .2rem;
    padding-right: .1rem;
}
p.text{
    font-size: 1rem;
    font-weight: 300;
    color:#909494;
}
span.detalle{
    margin:2rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
}
div.pay-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.5rem;
}
h5.detalle-pago{
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 450;
    margin-left: 1rem;
}
.recibo{
    margin:1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
div.detallitos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    padding-bottom: .2rem;
}
div.detallitos>p{
    font-weight: 600;
}
.base{
    width: 100%;
    background-color: var(--secondary-color);
    color:white;
    display: flex;
    padding: 1.5rem;
    justify-content: space-around;
    font-size: 1.2rem;
}
div.items >img{
    justify-self: center;
    width: 2rem;;
}
div.items{
    display: grid;
   
}

